@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}
.card-bottom {
  background: rgb(70, 170, 255);
  background: linear-gradient(
    90deg,
    rgba(70, 170, 255, 1) 7%,
    rgba(0, 210, 252, 1) 35%,
    rgba(135, 124, 255, 1) 69%
  );
  border-radius: 6px;
  margin-top: 7%;
  height: 45%;
}
.flex-column {
  color: #adb5bd;
  margin-top: 3%;
}
.flex-column p {
  letter-spacing: 1px;
}
.balance-header {
    font-size: 2vw;
    color: var(--white-color);
    margin-left: 2%;
}
.balance {
    font-size: 5vw;
    color: var(--white-color);
}
.currency-symbol {
    font-size: 4vw !important;
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
}
.section_our_solution .row {
  align-items: center;
}
.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin-top: 2%;
  margin-right: 2%;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
  width: 40%;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.0);
  z-index: 9;
}

.solution_cards_box .solution_card:hover .menu-icon {
  background: -webkit-linear-gradient(rgb(255, 172, 100), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 2rem;
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
  font-weight: bolder;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.menu-icon {
  color: #212121;
  font-size: 7rem;
  font-weight: bolder;
  margin-left: 30%;
}