@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}
.card {
  border: none;
  border-radius: 10px;
  width: 275px;
  margin-top: 20%;
}
.fa-ellipsis-v {
  font-size: 10px;
  color: #c2c2c4;
  margin-top: 6px;
  cursor: pointer;
}
.text-dark {
  font-weight: bold;
  margin-top: 8px;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.card-bottom {
  background: rgb(70, 170, 255);
  background: linear-gradient(
    90deg,
    rgba(70, 170, 255, 1) 7%,
    rgba(0, 210, 252, 1) 35%,
    rgba(135, 124, 255, 1) 69%
  );
  border-radius: 6px;
  margin-top: 7%;
  height: 30%;
}
.flex-column {
  color: #adb5bd;
  font-size: 13px;
}
.flex-column p {
  letter-spacing: 1px;
  font-size: 18px;
}
.btn-secondary {
  height: 40px !important;
  margin-top: 3px;
}
.btn-secondary:focus {
  box-shadow: none;
}
