.card {
    margin-top: 80px;
}

.remaining-limit {
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.submit-btn {
    background: linear-gradient(to right, rgba(0, 210, 252, 1), rgba(135, 124, 255, 1));
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.submit-btn:hover {
    background: linear-gradient(to left, rgba(0, 210, 252, 1), rgba(70, 170, 255, 1));
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.back-btn {
    background-image: linear-gradient(to left, rgb(96, 96, 96), #9e9d9d);
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.back-btn:hover {
    background-image: linear-gradient(to right, rgb(96, 96, 96), #9e9d9d);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}