/* Custom size for the carousel */
.small-carousel {
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

.small-carousel .carousel-inner {
    width: 100%;
    height: 100%;
    color: white;
}

.small-carousel .carousel-item {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(70, 170, 255, 1) 7%, rgba(0, 210, 252, 1) 35%, rgba(135, 124, 255, 1) 69%);
    border-radius: 5px;
}

.small-carousel .carousel-item .account-info {
    text-align: center;
    padding-top: 2%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    left: 0;
    /* Ensure prev button is on the left */
    z-index: 1;
    /* Ensure it's on top of other elements */
}

.carousel-control-next {
    right: 0;
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
}

.withdraw-btn {
    background: linear-gradient(to right, rgba(0, 210, 252, 1), rgba(135, 124, 255, 1));
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    font-size: 20px;
}

.withdraw-btn:hover {
    background: linear-gradient(to left, rgba(0, 210, 252, 1), rgba(70, 170, 255, 1));
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.cancel-btn {
    background-image: linear-gradient(to left, rgb(96, 96, 96), #9e9d9d);
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    font-size: 20px;
}

.cancel-btn:hover {
    background-image: linear-gradient(to right, rgb(96, 96, 96), #9e9d9d);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#withdraw-page {
    --white-color: none;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2%;
}

#from-header,
#amount-header {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--first-color);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0.01%;
    font-size: 20px;
}

#from-header {
    margin-top: 1%;
}

.background-widget-top,
.background-widget-bottom {
    background-color: white;
    border-radius: 5px;
    margin-top: -10px;
}

.background-widget-top {
    padding: 1%;
    text-align: center;
    margin-bottom: 15px;
}

.background-widget-bottom {
    padding: 1%;
    text-align: left;
}

.announce-label {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 0;
}

input {
    text-align: left;
}

.remaining-limit {
    text-align: right;
}