{% extends "sidebar_header_admin.html" %} {%block head%} {{super()}}
<link rel="stylesheet" href="{{url_for('static',path='/css/admin.css')}}" />
<script type="text/javascript" src="/static/js/admin.js"></script>
{%endblock%} {%block content%}

<div class="container-modal w-50">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="col-md-12">
        <h2 class="text-center text-light">Search Account / Search Bank Account</h2>
      </div>
    </div>
  </div>
  <hr class="text-light" />
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="col-md-12">
        <form>
          <label for="searchCitizenID" class="form-label text-light"
            >Enter Citizen ID</label
          >
          <div class="input-group">
            <input
              type="search"
              class="form-control rounded"
              name="searchCitizenID"
              placeholder="Enter Citizen ID"
              aria-label="Enter Citizen ID"
              aria-describedby="search-addon"
              Required
            />
            <button
              type="button"
              onclick="searchAccount()"
              class="btn btn-outline-primary"
              data-toggle="modal"
              data-target="#searchAccountModal"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="col-md-12">
        <p class="m-0 text-center text-light opacity-75"> Or </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <form action="/searchBankAccount" method="post">
          <label for="searchAccountNo" class="form-label text-light"
            >Enter Account No</label
          >
          <div class="input-group">
            <input
              type="search"
              class="form-control rounded"
              name="searchAccountNo"
              placeholder="Search Account No"
              aria-label="Search Account No"
              aria-describedby="search-addon"
              Required
            />
            <button
              type="button"
              class="btn btn-outline-primary"
              data-toggle="modal"
              data-target="#searchBankModal"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="searchBankModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Customer Information</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">Johnatan Smith</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">username</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">password</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">xxxxxxx</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">example@example.com</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Phone Number</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">(098) 765-4321</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Citizen ID</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">1223455678908765</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Marital Status</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">Single</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Education</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">Primary</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Bank Account Type</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">Checking Account</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Bank ID</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">BMT</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Bank Account Number</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">123456789222</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-danger border-0">
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary border-0"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="searchAccountModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Customer Information</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-center" id="accountAvatar">
            <img
              src=""
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{fullname}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{username}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">password</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">xxxxxxx</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{email}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Phone Number</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{phno}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Citizen ID</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{citizenId}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Marital Status</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{marital}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Education</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0">{{education}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-danger border-0">
          Edit
        </button>
        <button
          type="button"
          class="btn btn-secondary border-0"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{%endblock%}
