{% extends "sidebar_header.html" %} {%block head%} {{super()}}
<link rel="stylesheet" href="{{url_for('static',path='css/home.css')}}" />
{%endblock%} {%block content%}
<div class="card-bottom pt-3 px-3">
  <div class="d-flex flex-row justify-content-between text-align-center">
    <div class="d-flex flex-column">
      <span class="balance-header">Balance amount</span>
      <p class="text-white currency-symbol">
        &#3647; <span class="balance">{{balance}}</span>
      </p>
    </div>
  </div>
</div>
<div class="section_our_solution">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card" onclick="window.location.href='/transfer'">
            <div class="hover_color_bubble"></div>
            <i class="bi bi-arrow-down-up menu-icon"></i>
            <div class="solu_title">
              <h3>Money Transfer</h3>
            </div>
          </div>
          <div class="solution_card" onclick="window.location.href='/withdraw'">
            <div class="hover_color_bubble"></div>
            <i class="bi bi-cash-stack menu-icon"></i>
            <div class="solu_title">
              <h3>Cardless Transaction</h3>
            </div>
          </div>
          <div class="solution_card me-0" onclick="window.location.href='/currency-exchange'">
            <div class="hover_color_bubble"></div>
            <i class="bi bi-currency-exchange menu-icon"></i>
            <div class="solu_title">
              <h3>Currency Exchange</h3>
            </div>
          </div>
            {%endblock%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
