{% extends "sidebar_header.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='css/withdrawal.css') }}">
<script type="text/javascript" src="/static/js/withdrawal.js"></script>
{% endblock %}

{% block content %}
    <div id="withdraw-page" class="container mt-5">
        <form id="withdraw-form" action="/withdraw" method="post">
            <div class="mb-3">
                <label for="from" id="from-header" class="form-label">From</label>
                <div class="background-widget-top">
                    <div id="accounts" class="carousel slide small-carousel" interval="false">
                        <ol class="carousel-indicators" id="carousel-indicators"></ol>
                        <div class="carousel-inner" id="carousel-inner"></div>
                        <a class="carousel-control-prev" href="#accounts" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#accounts" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <label for="amount" id="amount-header" class="form-label">Information</label>
                <div class="background-widget-bottom">
                    <div class="mb-3">
                        <label id="input-label" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone-no" name="phone-no" placeholder="XXX-XXX-XXXX" required>
                    </div>
                    <div class="mb-3">
                        <label id="input-label" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="0.00" min="100" max="50000" step="100" required>
                    </div>
                    <div class="mb-3 remaining-limit">
                        <p class="limit-label" id="remaining-limit"></p>
                    </div>
                </div>
                <p class="announce-label">Your previous active Withdraw Code will be automatically cancelled when you make a new request.</p>
                <div class="button-container">
                    <a href="/home" class="cancel-btn" onclick="return confirm('Are you sure you want to cancel?')">Cancel</a>
                    <button type="submit" class="withdraw-btn" id="withdraw-button">Withdraw</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>displayAccount({{ accounts|tojson}});</script>
{% endblock %}
