{% extends "sidebar_header.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='css/transferReview.css') }}">
<script type="text/javascript" src="/static/js/transferReview.js"></script>
{% endblock %}

{% block content %}
<div id="transfer-review-page" class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Review Transfer</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <div class="account-review border rounded p-3 mb-3">
                        <h5>From Account:</h5>
                        <p class="account-num">Account Number: <strong>{{banknumber}}</strong><br>Balance: <strong>&#3647;{{balance}}</strong></p>
                    </div>
                    <div class="amount-review border rounded p-3 mb-3">
                        <h5>To Account:</h5>
                        <p>Bank: <strong>{{transferBankId}}</strong><br>Account Number: <strong>{{banknumberReceiver}}</strong></p>

                        <h5>Amount:</h5>
                        <p><strong>&#3647;{{amount}}</strong></p>

                        <h5>Transfer Fee:</h5>
                        <p><strong>&#3647;{{fee}}</strong></p>

                        <h5>Total Amount:</h5>
                        <p class="total-amount"><strong>&#3647;{{totalAmount}}</strong></p>

                    </div>
                </div>
                <div class="buttons">
                    <a class="back-btn" onclick="removeTransfer()">Back</a>
                    <button type="button" class="submit-btn" onclick="confirmTransfer()" >Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
